.container {
    border: 2px solid black;
    display: grid;
    grid-auto-columns: minmax(100fr, auto);
}
h1 {
    text-align: center;
}
/* .box {

} */

#left {
    grid-column: 1;
    height: 100fr;
    width: 50%;
}

#right {
    grid-column: 2;
    height: 100fr;
    width: 25%;
}